:root {
  --onm-color-earth: #cc7722;
  --onm-color-water: #0e78be;
  --onm-color-fire: #f0b81a;
  --onm-color-wind: #cfdff6;
  --onm-color-void: #f3ebde;

  --onm-color-gray-100: #f9f9f9;
  --onm-color-gray-200: #f6f6f6;
  --onm-color-gray-300: #e0e0e0;
  --onm-color-gray-400: #bdbdbd;
  --onm-color-gray-500: #9e9e9e;
  --onm-color-gray-600: #757575;
  --onm-color-gray-700: #616161;
  --onm-color-gray-800: #424242;
  --onm-color-gray-900: #212121;

  --onm-color-white: #fff;
  --onm-color-black: #000;

  --onm-color-text: var(--onm-color-gray-900);
  --onm-color-link: #0e78be;

  --onm-font-serif: 'New Century Schoolbook', Garamond, Georgia, 'Times New Roman', Times, serif;
  --onm-font-headline: Bookman, Palatino;
  --onm-font-size: 1.16rem;

  --onm-text-line-height: 1.6;

  --onm-border-radius: 3px;

  --onm-global-bg: #fff;
}

html,
input,
select,
button {
  font-family: var(--onm-font-serif);
}

body {
  max-width: 65ch;
  background: var(--onm-global-bg);

  font-size: var(--onm-font-size);
  line-height: var(--onm-text-line-height);
}

blockquote {
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;

  border-left: 10px solid var(--nc-bg-3);
  border-radius-right: var(--onm-border-radius);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--onm-font-headline);
  line-height: 1.2;
}

a {
  color: var(--onm-color-link);
}

.logo {
  font-family: 'Rockwell', var(--onm-font-headline);
  font-size: 1.6rem;
  font-weight: 500;
}

.logo a,
.logo a:visited {
  padding: 0.3rem 0;
  color: var(--onm-color-link);
  text-decoration: none;
  border-bottom: 1px solid none;
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
  border-bottom: 1px solid var(--onm-color-link);
}

.footer {
  margin: 2rem auto;
  padding: 1rem 0;
  border-top: 1px solid var(--onm-color-gray-300);
  color: #777;
}

.footer a {
  text-decoration: none;
  border-bottom: 1px solid none;
  padding: 0.16rem 0;
}

.footer a:hover,
.footer a:active {
  text-decoration: none;
  border-bottom: 1px solid var(--onm-color-link);
}

/* Home specific List*/
/*1st level list*/
.home ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 1st level list-items*/
.home ul li {
  margin: 0;
  padding: 1rem 1.6rem;

  font-weight: 600;
}

/* 2nd level list*/
.home ul li ul {
  margin: 0;
  padding: 0 0 1rem;
}
/* 2nd level list-items*/
.home ul li ul li {
  margin: 0 2rem;
  padding: 0;

  font-weight: 200;
  list-style: circle;
}

/* alternate background color*/
.home > ul > li:nth-child(odd) {
  background: var(--onm-color-gray-100);
}

.home > ul > li:nth-child(even) {
  background: var(--onm-color-gray-200);
}
