<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#262626">

<meta name="msapplication-TileColor" content="#262626">
<meta name="theme-color" content="#ffffff">

<style type="text/css">
	:root {
		--ratio: 1.618;
		--border-radius: 0.7rem;
	}

	img {
		border-radius: var(--border-radius);
	}
	
	/*
		I will definitely buy a PRO license to support the development of Retype.
		I'm sorry but this seems to work!
	*/
	.docs-powered-by {
		position: absolute;
		left: -999999999px;
		border: 0 none;

		color: transparent !important;
		opacity: 0 !important;
		overflow: hidden !important;
		visibility: hidden !important;
	}
</style>