<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/oinam/simple.css/simple.min.css">
<style type="text/css">
:root {
  --base-fontsize: 1.26rem;
  --line-height: 1.618;

  /* Default (light) theme */
  --bg: #ebecf0;
  --accent-bg: #f4f4f5;
  --text: #212121;
  --text-light: #585858;
  --border: #b3b8c5;
  --accent: #0e78be;
  --accent-light: #90caf9;
  --accent-dark: #0d47a1;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;

  /* cards */
  --card-spacing: 20px;
  --card-color-bg: #fafafa;
  --card-border-color: #e4e4e7;
  --card-border-color-dark: #d4d4d8;
  --card-border-radius: 7px;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --card-color-bg: #3f3f46;
    --card-border-color: #27272a;
    --card-border-color-dark: #18181b;
  }
}

html {
  font-family: Georgia, 'Times New Roman', serif;
}

header h1, h1 {
  line-height: 1.2;
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * var(--header-scale));
}

/* let's try a little different style */
blockquote {
  margin: 1rem 0.2rem;
  padding: 0.1rem 2rem;
  background: var(--accent-bg);
  border-left: 0.5rem solid var(--accent-light);

  font-weight: 500;
  font-style: normal;
}

ol,
ul {
  padding-left: 2rem;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.title {
  font-size: xx-large;
}

/*
  A different Table of Content for larger screens.
*/
@media (min-width: 40em) {

  /* set to max with of the viewport */
  .toc {
    box-sizing: border-box;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;

    margin-left: -50vw;
    margin-right: -50vw;

    padding: var(--card-spacing);
  }

  .toc ul,
  .toc li,
  .toc ul li ul li{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .toc ul li ul li {
    list-style: initial;
    margin-left: 1.6rem;
  }

  .toc > ul {
    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--card-spacing));
    margin-top: calc(-1 * var(--card-spacing));
  }

  /* cards -- applies only to the immediate list after TOC wrapper */
  .toc > ul > li {
    box-sizing: border-box;
    flex: 1 0 20rem; /*width*/
    max-height: 30rem; /*let's try and make this masonry in future.*/
    overflow: scroll; /*content scroll as we have a strict height.*/
    
    padding: var(--card-spacing);
    margin-left: var(--card-spacing);
    margin-top: var(--card-spacing);
    
    /*interface*/
    background: var(--card-color-bg);
    border-radius: var(--card-border-radius);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .toc > ul > li:hover {
    border-color: var(--card-border-color-dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
}

</style>