html,
input,
select,
button {
  font-family: var(--onm-font-sans-serif);
}

body {
  max-width: 700px;
  border-radius: var(--onm-border-radius);

  background: var(--onm-global-bg);

  font-size: var(--onm-font-size);
  line-height: var(--onm-text-line-height);
}

blockquote {
  margin: 1rem auto;
  padding: 0.5rem 1.5rem;

  border-left: 10px solid var(--nc-bg-3);
  border-radius-right: var(--onm-border-radius);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--onm-font-headline);
  line-height: 1.2;
}

a {
  color: var(--onm-color-link);
}

hr.oHr {
  overflow: visible;
  padding: 0;
  margin: 1rem auto;

  border: 0 none;
  border-top: 1px solid #eaeaea;

  color: #aaa;
  text-align: center;
}

hr.oHr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -1.1rem;
  font-family: cursive;
  font-size: 1rem;
  padding: 0 0.25rem;
  background: var(--onm-global-bg);
}
