:root {
  --onm-color-earth: #cc7722;
  --onm-color-water: #0e78be;
  --onm-color-fire: #f0b81a;
  --onm-color-wind: #cfdff6;
  --onm-color-void: #f3ebde;

  --onm-color-gray-100: #f9f9f9;
  --onm-color-gray-200: #f6f6f6;
  --onm-color-gray-300: #e0e0e0;
  --onm-color-gray-400: #bdbdbd;
  --onm-color-gray-500: #9e9e9e;
  --onm-color-gray-600: #757575;
  --onm-color-gray-700: #616161;
  --onm-color-gray-800: #424242;
  --onm-color-gray-900: #212121;

  --onm-color-white: #fff;
  --onm-color-black: #000;

  --onm-color-text: var(--onm-color-gray-900);
  --onm-color-link: #0e78be;

  --onm-font-sans-serif: 'New Century Schoolbook', Garamond, Georgia, 'Times New Roman', Times, serif;
  --onm-font-headline: Bookman, Palatino;
  --onm-font-size: 1.16rem;

  --onm-text-line-height: 1.6;

  --onm-border-radius: 3px;

  --onm-global-bg: #fff;
}
