<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:image" content="/images-cover-oinam.fyi.jpg">
<meta property="og:image:alt" content="Library of Books">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="en_US">
<meta property="article:author" content="{{ site.author }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:creator" content="@{{ site.twitter }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:title" content="{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="/images-cover-oinam.fyi.jpg">
<meta name="twitter:image:alt" content="Library of Books">
<meta name="twitter:dnt" content="on">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css/new.min.css">

</head>
<body>

{{ content }}

<hr>

<footer>
  <small>
    <p>
      <a href="https://github.com/oinam/oinam.fyi">Open Source</a>
      by <a href="//oinam.com/">Oinam</a>
      (2020-<script>document.write(new Date().getFullYear())</script>)
    </p>
  </small>
</footer>

</body>
</html>
